In [1]:
import pandas as pd
import numpy as np
info=np.array(['P','a','n','d','a','s'])
a=pd.Series(info)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [3]:
import pandas as pd
#a list of strings
x=['Python','Pandas']
# calling DataFrame constructur on list
df=pd.DataFrame(x)
print(df)

        0
0  Python
1  Pandas

In [4]:
import pandas as pd
import numpy as np
a=pd.Series(['java','c','c++','np.nan'])
a.map({'java':'core'})

0    core
1     NaN
2     NaN
3     NaN
dtype: object

In [6]:
import pandas as pd
import numpy as np
a=pd.Series(['java','c','c++','np.nan'])
a.map({'java':'core'})
a.map('i like {}'.format,na_action='ignore')

0      i like java
1         i like c
2       i like c++
3    i like np.nan
dtype: object

In [8]:
s=pd.Series(["a","b","c"],
name="vals")
s.to_frame()

  vals
0    a
1    b
2    c

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
name=('Nitish','Anup','Manjesh')
age=(19,20,20)
name_Series=pd.Series(name)
age_Series=pd.Series(age)
frame={'Name':name_Series,'Age':age_Series}
result=pd.DataFrame(frame)
print(result)

      Name  Age
0   Nitish   19
1     Anup   20
2  Manjesh   20

In [17]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [20]:
import pandas as pd
info={'Roll.no.':[23100020028,23100040006,23100020022],'Department':['Data science','IOT','Data science',]}
df=pd.DataFrame(info)
print(df)

      Roll.no.    Department
0  23100020028  Data science
1  23100040006           IOT
2  23100020022  Data science

In [21]:
import pandas as pd
info={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']), 'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d1=pd.DataFrame(info)
print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [22]:
import pandas as pd
info={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']), 'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d1=pd.DataFrame(info)
print(d1['one'])

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    NaN
h    NaN
Name: one, dtype: float64

In [23]:
import pandas as pd
info={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']), 'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
df=pd.DataFrame(info)
# Add new coulumn  to an existing DataFrame object
print('Add new coulmn by pasing Series')
df['three']=pd.Series([20,40,60],index=['a','b','c'])
print(df)
print("Add new coulumn  to an existing DataFrame  column")
df['four']=df['three']+df['one']
print(df)

Add new coulmn by pasing Series
   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   60.0
d  4.0    4    NaN
e  5.0    5    NaN
f  6.0    6    NaN
g  NaN    7    NaN
h  NaN    8    NaN
Add new coulumn  to an existing DataFrame  column
   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   40.0  42.0
c  3.0    3   60.0  63.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  6.0    6    NaN   NaN
g  NaN    7    NaN   NaN
h  NaN    8    NaN   NaN

In [48]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': ['a', 'b', 'c']})

# Row to add
new_row = pd.Series({'A': 4, 'B': 'd'})

# Append the row to the DataFrame
df = df.append(new_row, ignore_index=True)

# Print the updated DataFrame
print(df)

   A  B
0  1  a
1  2  b
2  3  c
3  4  d

<ipython-input-48-406ba634f5d2>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [47]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': ['a', 'b', 'c', 'd', 'e']})

# Slice rows from index 1 to index 3 (exclusive)
sliced_rows = df.iloc[1:3]
print(sliced_rows)

   A  B
1  2  b
2  3  c

In [44]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': ['a', 'b', 'c'],
                   'C': [4.5, 5.5, 6.5]})
# Delete column 'B'
del df['B']

# Print the updated DataFrame
print(df)

   A    C
0  1  4.5
1  2  5.5
2  3  6.5

In [43]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4],
                   'B': ['a', 'b', 'c', 'd'],
                   'C': [5.5, 6.5, 7.5, 8.5]})

# Delete rows with index 1 and 3
df = df.drop([1, 3])

# Print the updated DataFrame
print(df)

   A  B    C
0  1  a  5.5
2  3  c  7.5

In [42]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': ['a', 'b', 'c']})
# Add a new column 'C' with some values
df['C'] = [4, 5, 6]

# Print the updated DataFrame
print(df)

   A  B  C
0  1  a  4
1  2  b  5
2  3  c  6

In [41]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': ['a', 'b', 'c']})

# Values for the new column
new_column_values = [4, 5, 6]

# Position to insert the new column (after column 'A')
insert_position = 1

# Column label for the new column
new_column_label = 'C'

# Insert the new column
df.insert(insert_position, new_column_label, new_column_values)

# Print the updated DataFrame
print(df)

   A  C  B
0  1  4  a
1  2  5  b
2  3  6  c

In [40]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4],
                   'B': ['a', 'b', 'c', 'd'],
                   'C': [5.5, 6.5, 7.5, 8.5]})

# Filter rows where values in column 'A' are greater than 2
filtered_df = df[df['A'] > 2]

# Print the filtered DataFrame
print(filtered_df)

   A  B    C
2  3  c  7.5
3  4  d  8.5

In [39]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': ['a', 'b', 'a', 'c', 'b', 'a']})

# Count the occurrences of unique values in column 'A'
value_counts = df['A'].value_counts()
# Print the result
print(value_counts)

a    3
b    2
c    1
Name: A, dtype: int64

In [38]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': ['a', 'b', 'c']})

# Set column 'B' as the index
df.set_index('B', inplace=True)

# Print the DataFrame with the new index
print(df)

   A
B
a  1
b  2
c  3

In [37]:
import pandas as pd

# Create a DataFrame with 'B' as the index
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': ['a', 'b', 'c']})
df.set_index('B', inplace=True)
# Print the DataFrame with the reset index
print(df)

   A
B
a  1
b  2
c  3

In [36]:
# Print the first few rows of the DataFrame
print(df.head())

print(df.head())

print(df.tail())

print(df.info())

print(df.describe())

print(df.shape)

print(df.columns)

print(df.index)

# Create a 1D array with values from 0 to 9
range_arr = np.arange(10)

# Create a 1D array with values from 1 to 10 with a step of 2
range_arr_step = np.arange(1, 11, 2)

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
None
              A
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000
(5, 2)
Index(['A', 'B'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

In [35]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': ['a', 'b', 'c', 'd', 'e']})

# Create a boolean index based on a condition
boolean_index = df['A'] > 2

# Use boolean indexing to filter rows
filtered_df = df[boolean_index]

# Print the filtered DataFrame
print(filtered_df)

   A  B
2  3  c
3  4  d
4  5  e

In [49]:
import numpy as np

# Create a 1D array
arr = np.array([1, 2, 3, 4, 5, 6])

# Reshape the array to a 2D array with 2 rows and 3 columns
reshaped_arr = arr.reshape(2, 3)

# Print the reshaped array
print(reshaped_arr)

[[1 2 3]
 [4 5 6]]

In [50]:
arr = [10, 20, 30, 40, 50]
print(arr[0])  # Access the first element (index 0)
print(arr[2])  # Access the third element (index 2)

10
30